<div class="row">
    <span class="h2 my-3">Edit prize</span>
  </div>
  
  <div class="row">
<%= render "form.html", Map.put(assigns, :action, Routes.prize_path(@conn, :update, @prize)) %>
<p></p>
<%= link to: Routes.prize_path(@conn, :index) do %>
    <span class="text-dark">Back</span>
<% end %>
</div>
